<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgettoINGSW"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ElencoCategorie"
            android:exported="false" />
        <activity
            android:name=".PopUpFiltroRicerca"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />
        <!--<activity
            android:name=".FragmentRicercaAsta"
            android:exported="false" />
        <activity
            android:name=".FragmentSelezioneCategorie"
            android:exported="false" />

        <fragment
            android:name=".CreaLaTuaAstaVenditoreFragment"
            android:exported="true" />

        <activity
            android:name=".FragmentHomeUtente"
            android:exported="true" />
        <activity
            android:name=".FragmentProfilo"
            android:exported="true" />-->
        <activity
            android:name=".PopUpModificaCampoProfilo"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />
        <activity
            android:name=".PopUpRicercaCategorie"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />

        <activity
            android:name=".PreferitiActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopUpLogin"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />

        <activity android:name=".Registrazione" />

        <activity
            android:name=".CampiFacoltativiRegistrazione"
            android:exported="true" />
        <activity
            android:name=".InteressiRegistrazione"
            android:exported="true" />

        <activity
            android:name=".FragmentCreaLaTuaAstaAcquirente"
            android:exported="true" />
        <activity
            android:name=".AstaInglese"
            android:exported="true" />
        <activity
            android:name=".AstaRibasso"
            android:exported="true" />
        <activity
            android:name=".AstaInversa"
            android:exported="true" />
        <activity
            android:name=".ProfiloAcquirente"
            android:exported="true" />
        <activity
            android:name=".ProfiloVenditore"
            android:exported="true" />
        <activity
            android:name=".SchermataAstaInglese"
            android:exported="true" />
        <activity
            android:name=".SchermataAstaInversa"
            android:exported="true" />
        <activity
            android:name=".SchermataAstaRibasso"
            android:exported="true" />
        <activity
            android:name=".LeMieAste"
            android:exported="true" />
        <activity
            android:name=".PopUpRegistrazioneSocial"
            android:exported="true"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
        <activity
            android:name=".RicercaSenzaRisultati"
            android:exported="true" />
        <activity
            android:name=".PopUpNuovaOfferta"
            android:exported="true"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
    </application>

</manifest>