<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgettoINGSW"
        tools:targetApi="31">
        <activity
            android:name=".PopUpModificaCampoProfilo"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />
        <activity
            android:name=".PopUpRicercaCategorie"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".SelezioneCategorie"
            android:exported="false" />
        <activity
            android:name=".PreferitiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopUpLogin"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
        <activity
            android:name=".HomeUtente"
            android:exported="true" />
        <activity
            android:name=".ProfiloActivity"
            android:exported="true" />
        <activity android:name=".Registrazione" />
        <activity
            android:name=".CampiFacoltativiRegistrazione"
            android:exported="true" />

        <activity
            android:name=".InteressiRegistrazione"
            android:exported="true" />

        <activity
            android:name=".CreaLaTuaAstaVenditore"
            android:exported="true" />


        <activity
            android:name=".CreaLaTuaAstaAcquirente"
            android:exported="true" />

        <activity
            android:name=".AstaInglese"
            android:exported="true" />
        <activity
            android:name=".AstaRibasso"
            android:exported="true" />
        <activity
            android:name=".AstaInversa"
            android:exported="true" />


        <activity
            android:name=".ProfiloAcquirente"
            android:exported="true" />

        <activity
            android:name=".ProfiloVenditore"
            android:exported="true" />

        <activity
            android:name=".SchermataAstaInglese"
            android:exported="true" />
        <activity
            android:name=".SchermataAstaInversa"
            android:exported="true" />
        <activity
            android:name=".SchermataAstaRibasso"
            android:exported="true" />



        <activity
            android:name=".LeMieAste"
            android:exported="true" />


    </application>

</manifest>