<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgettoINGSW"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31"
        >
        <activity
            android:name=".gui.acquirente.AcquirenteMainActivity"
            android:exported="false" />
        <activity
            android:name=".gui.venditore.VenditoreMainActivity"
            android:exported="false" />
        <activity
            android:name=".gui.ElencoCategorie"
            android:exported="false" />
        <activity
            android:name=".gui.PopUpFiltroRicerca"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />
        <activity
            android:name=".gui.acquirente.AcquirenteFragmentRicercaAsta"
            android:exported="false" />
        <activity
            android:name=".gui.acquirente.AcquirenteFragmentSelezioneCategorie"
            android:exported="false" />

        <activity
            android:name=".gui.venditore.VenditoreFragmentCreaLaTuaAstaVenditore"
            android:exported="true" />

        <activity
            android:name=".gui.acquirente.AcquirenteFragmentHome"
            android:exported="true" />
        <activity
            android:name=".gui.acquirente.AcquirenteFragmentProfilo"
            android:exported="true" />
        <activity
            android:name=".gui.PopUpModificaCampiProfilo"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />
        <activity
            android:name=".gui.PopUpRicercaCategorie"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />


        <activity
            android:name=".gui.PreferitiActivity"
            android:exported="false" />
        <activity
            android:name=".gui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.PopUpLogin"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomThemeSfocato" />

        <activity android:name=".gui.Registrazione" />

        <activity
            android:name=".gui.CampiFacoltativiRegistrazione"
            android:exported="true" />
        <activity
            android:name=".gui.InteressiRegistrazione"
            android:exported="true" />

        <activity
            android:name=".gui.acquirente.AcquirenteFragmentCreaLaTuaAstaAcquirente"
            android:exported="true" />
        <activity
            android:name=".gui.venditore.VenditoreAstaInglese"
            android:exported="true" />
        <activity
            android:name=".gui.venditore.VenditoreAstaRibasso"
            android:exported="true" />
        <activity
            android:name=".gui.acquirente.AcquirenteAstaInversa"
            android:exported="true" />
        <activity
            android:name=".gui.ProfiloAcquirente"
            android:exported="true" />
        <activity
            android:name=".gui.ProfiloVenditore"
            android:exported="true" />
        <activity
            android:name=".gui.SchermataAstaInglese"
            android:exported="true" />
        <activity
            android:name=".gui.SchermataAstaInversa"
            android:exported="true" />
        <activity
            android:name=".gui.SchermataAstaRibasso"
            android:exported="true" />
        <activity
            android:name=".gui.LeMieAste"
            android:exported="true" />
        <activity
            android:name=".gui.PopUpRegistrazioneSocial"
            android:exported="true"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
        <activity
            android:name=".gui.RicercaSenzaRisultati"
            android:exported="true" />
        <activity
            android:name=".gui.PopUpNuovaOfferta"
            android:exported="true"
            android:theme="@style/Base.Theme.ProgettoINGSW.CustomTheme" />
    </application>

</manifest>